<%- include("partials/header.ejs")  %>

<section class="view-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                    <div class="row justify-content-center pb-4">
                        <div class="col-10">
                            <h1 class="py-4"><%= title  %></h1>
                        </div>
                    </div>
                    <div class="row justify-content-center pb-4">
                        <div class="col-10">
                            <p><%= post  %></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="container text-center pt-4 mb-5">
    <div class="row justify-content-center px-4">
        <div class="col-10"></div>
            <h1><%= title  %></h1><br>
            <p><%= post  %></p>
        </div>
</div>-->

<%- include("partials/footer.ejs")  %>